/**
 * @author Amanjot Singh <am854663@dal.ca/B00942293>
 */
.register {
  text-align: center;
}
.register-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}
.register-form {
  padding: 5%;
}

.register-left-div {
  /* align: left; */
}

.register-right-div {
}

@media (max-width: 768px) {
  .register-container {
    grid-template-columns: 1fr;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
  }

  .register-left-div,
  .register-right-div {
    width: 100%;
  }
}
